/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.mimerenderer-rachis-archive {
    overflow: auto
}

.mimerenderer-rachis-archive.jp-OutputArea-output {
    min-height: 600px;
}